<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product brand</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td [attr.rowspan]="rowspanValue1">Mobile</td>
            <td>Oppo</td>
        </tr>
        <tr>
            <td>Samsung</td>
        </tr>
        <tr>
            <td>Vivo</td>
        </tr>
        <tr>
            <td>Oneplus</td>
        </tr>
        <tr>
            <td [attr.rowspan]="rowspanValue2">Laptop</td>
            <td>HP</td>
        </tr>
        <tr>
            <td>Dell</td>
        </tr>
        <tr>
            <td>Lenovo</td>
        </tr>
        <tr>
            <td>Acer</td>
        </tr>
    </tbody>
</table>
